<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Canteen Manager</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 40px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 60%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Modal Overlay */
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black with opacity */
        backdrop-filter: blur(8px);
        /* Apply blur effect */
        z-index: 1000;
        /* Ensure it's on top */
        display: none;
        /* Hidden by default */
    }

    /* Modal Content */
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 20px;
        width: 300px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 1001;
        /* Ensure it's on top of the overlay */
    }

    /* Close Button */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    /* Show the modal when active */
    .modal.active {
        display: block;
    }
</style>

<body>
    <a href="{{ url_for('logout') }}"><button class="btn btn-primary">Logout</button></a>

    <h1>Orders</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Customer Name</th>
            <th>Customer Score</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
            <td>{{ order[5] }}</td>
            <td>{{ order[4] }}</td>
            <td>
                <form action="/served_order" method="post">
                    <input type="hidden" name="order_id" value="{{ order[0] }}">
                    <button type="submit">Served</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Menu</h1>
    <button type="button" onclick="openAddModal()">Add Item</button>
    <table>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Availability</th>
            <th>Food Type</th>
            <th>Actions</th>
        </tr>
        {% for item in menu %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>
                <button type="button"
                    onclick="openEditModal('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}', '{{ item[3] }}', '{{ item[4] }}', '{{ item[5] }}')">Edit</button>
                <form action="/delete_item" method="post">
                    <input type="hidden" name="item_id" value="{{ item[0] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Report</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Customer Name</th>
            <th>Timestamp</th>
            <th>Quantity</th>
            <th>Receipt Number</th>
        </tr>
        {% for report in reports %}
        <tr>
            <td>{{ report[0] }}</td>
            <td>{{ report[1] }}</td>
            <td>{{ report[2] }}</td>
            <td>{{ report[3] }}</td>
            <td>{{ report[5] }}</td>
            <td>{{ report[4] }}</td>
            <td>{{ report[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{{ url_for('download_report') }}"
      >Download Report</a
    >

    <!-- Edit Modal -->
    <div class="modal-overlay">
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit Item</h2>
                <form id="editForm" action="/edit_item" method="post">
                    <input type="hidden" id="editItemId" name="item_id">

                    <label for="editItemName">Item Name:</label>
                    <input type="text" id="editItemName" name="item_name" style="display: block; margin-bottom: 10px;">

                    <label for="editItemPrice">Price:</label>
                    <input type="text" id="editItemPrice" name="item_price"
                        style="display: block; margin-bottom: 10px;">

                    <label for="editItemImage">Image URL:</label>
                    <input type="text" id="editItemImage" name="item_image"
                        style="display: block; margin-bottom: 10px;">

                    <label for="editItemAvailability">Availability:</label>
                    <select id="editItemAvailability" name="item_availability"
                        style="display: block; margin-bottom: 10px">
                        <option value="Available">Available</option>
                        <option value="Out OF Stock">Out Of Stock</option>
                    </select>

                    <label for="editItemFoodType">Food Type:</label>
                    <input type="text" id="editItemFoodType" name="item_food_type"
                        style="display: block; margin-bottom: 10px;">

                    <button type="submit" style="display: block; margin: auto;">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="add-modal">
        <div id="addModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Add Item</h2>
                <form id="addForm" action="/add_item" method="post">
                    <label for="itemName">Item Name:</label>
                    <input type="text" id="itemName" name="item_name" style="display: block; margin-bottom: 10px;">

                    <label for="itemPrice">Price:</label>
                    <input type="text" id="itemPrice" name="item_price"
                        style="display: block; margin-bottom: 10px;">

                    <label for="itemImage">Image URL:</label>
                    <input type="text" id="itemImage" name="item_image"
                        style="display: block; margin-bottom: 10px;">

                    <label for="itemAvailability">Availability:</label>
                    <select id="itemAvailability" name="item_availability"
                        style="display: block; margin-bottom: 10px">
                        <option value="Available">Available</option>
                        <option value="Out OF Stock">Out Of Stock</option>
                    </select>

                    <label for="itemFoodType">Food Type:</label>
                    <input type="text" id="itemFoodType" name="item_food_type"
                        style="display: block; margin-bottom: 10px;">

                    <button type="submit" style="display: block; margin: auto;">
                        Add Item
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function openEditModal(itemId, itemName, itemPrice, itemImage, itemAvailability, itemFoodType) {
            document.getElementById('editItemId').value = itemId;
            document.getElementById('editItemName').value = itemName;
            document.getElementById('editItemPrice').value = itemPrice;
            document.getElementById('editItemImage').value = itemImage;
            document.getElementById('editItemAvailability').value = itemAvailability;
            document.getElementById('editItemFoodType').value = itemFoodType;

            // Show the modal
            document.querySelector('.modal-overlay').style.display = 'block';
            document.querySelector('#editModal').classList.add('active');
        }

        function openAddModal() {
            // Show the modal
            document.querySelector('.add-modal').style.display = 'block';
            document.querySelector('#addModal').classList.add('active');
        }

        // Close the modal
        document.querySelectorAll('.add-modal .close').forEach(function(closeButton) {
            closeButton.addEventListener('click', function() {
                document.querySelector('.add-modal').style.display = 'none';
                document.querySelector('#addModal').classList.remove('active');
            });
        });

        // Close the modal
        document.querySelectorAll('.modal-overlay .close').forEach(function(closeButton) {
            closeButton.addEventListener('click', function() {
                document.querySelector('.modal-overlay').style.display = 'none';
                document.querySelector('#editModal').classList.remove('active');
                document.querySelector('#addModal').classList.remove('active');
            });
        });
    </script>

</body>

</html>
