<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>processing....</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="https://cdn.dribbble.com/users/447957/screenshots/6899626/payment-animation.gif" alt="payment-animation" style="max-width: 100%; max-height: 100%;">
    </div>
    <script>
        setTimeout(() => {
            window.location.assign("{{ url_for('home') }}");
        }, 5000);
    </script>
    
    
</body>
</html>